@font-face{
    font-family:digital-7;
    font-style:normal;
    font-weight:400;
    src:local('Digital-7'),
    local('Digital-7-Regular'),
    url('fonts/digital-7_b73ef91485431ac0271f24009e14ccee.woff') format('woff'),
    url('fonts/digital-7_b73ef91485431ac0271f24009e14ccee.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
    font-display: block;
}

*:root {
    --bg: linear-gradient(1deg, rgba(38,129,166,1) 30%, rgba(22,78,101,1) 50%, rgba(8,30,41,1) 100%);
    --bg-item: linear-gradient(179deg, rgba(59,82,116,1) 0%, rgba(19,16,25,1) 100%);
    --bg-header: rgb(39, 46, 65);
    --white: #FFFFFF;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Poppins" !important;
}

.shopping-list-container-index {
    background: var(--bg);
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.shopping-list-container {
    min-height: 100vh;
    background: var(--bg);
    background-attachment: fixed;
} 

h1 {
    font-size: clamp(2.5rem, 2.0892rem + 2.0542vw, 5.625rem);
    text-align: center;
    color: var(--white);
    background-color: var(--bg-header);
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 0;
    height: clamp(5.4rem, 4.7213rem + 3.3936vw, 10.5625rem);
    line-height: clamp(5.4rem, 4.7213rem + 3.3936vw, 10.5625rem);
    box-shadow: 2px 2px 6px silver;
    z-index: 1;
}
 
.shoppingcart {
    position: fixed;
    top: clamp(1.6875rem, 1.791rem + -0.5177vw, 0.9rem);
    right: clamp(1.0625rem, 0.4134rem + 3.2457vw, 6rem);
    cursor: pointer;
    z-index: 1;
    transition: 0.2s ease-in;
}

.shoppingcart:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
}
 
.shoppingcart img {
    width: clamp(1.875rem, 1.1937rem + 3.4063vw, 7.056875rem);
}

.number {
    display: flex;
    position: absolute;
    bottom: 3px;
    right: clamp(-0.4375rem, -0.3389rem + -0.493vw, -1.1875rem);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: clamp(1rem, 0.8439rem + 0.7806vw, 2.1875rem);
    background: red;
    width: clamp(1.0625rem, 0.7831rem + 1.3969vw, 3.1875rem);
    height: clamp(1.0625rem, 0.7831rem + 1.3969vw, 3.1875rem);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
 
.returnbutton {
    position: fixed;
    top: clamp(1.875rem, 1.7946rem + 0.4018vw, 2.4375rem);
    left: 3.472vw;
    cursor: pointer;
    z-index: 1;
}
 
.returnbutton img {
    width: clamp(2.0625rem, 1.5941rem + 2.3418vw, 5.625rem);
}

.ListItemImage {
    width: 13.889vw;
    height: 12.5vw;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: clamp(8.75rem, 7.1066rem + 8.2169vw, 21.25rem);
    padding-right: clamp(0.625rem, -3.3191rem + 19.7206vw, 30.625rem);
    padding-left: clamp(0.625rem, -3.3191rem + 19.7206vw, 30.625rem);
}


.navItem {
    display: flex;
    font-weight: bold;
    font-size: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.875rem);
    text-decoration: none;
    color: var(--white);
    background: var(--bg-item);
    width: clamp(8.5625rem, 7.5536rem + 5.0446vw, 15.625rem);
    height: clamp(2.8125rem, 2.5rem + 1.5625vw, 5rem);
    margin: 1.389vw;
    border: 2px solid silver;
    border-radius: clamp(1.25rem, 1.0035rem + 1.2325vw, 3.125rem);
    box-shadow: 7px 6px 11px 0px rgba(0,0,0,0.63);
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
}

.navItem:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}

.productList {
    text-align: center;
    padding-top: clamp(6.25rem, 5.8036rem + 2.2321vw, 9.375rem);
}

.productList img {
    width: clamp(5.9375rem, 4.0429rem + 9.4732vw, 19.2rem);
    margin: 4vw;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.productList img:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
}

.productwindowbackground {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s linear;
    visibility: hidden;
}

.showproductwindowbackround {
    opacity: 1;
    visibility: visible;
}

.productwindow {
    width: clamp(23.875rem, 18.2946rem + 27.9018vw, 62.9375rem);
    position: relative;
    box-shadow: 0px 0px 30px 15px var(--bg-header);
    background-color: var(--bg-header);
}

.producttitleBar {
    position: relative;
    background: var(--bg-header);
    border: 2px solid silver;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(2.5rem, 2.1429rem + 1.7857vw, 5rem);
}

.producttitle {
    font-size: clamp(1.125rem, 0.8393rem + 1.4286vw, 3.125rem);
}

.closebutton {
    position: absolute;
    color: white;
    right: clamp(0.375rem, 0.0714rem + 1.5179vw, 2.5rem);
    margin-bottom: clamp(0.3125rem, 0.2857rem + 0.1339vw, 0.5rem);
    font-size: clamp(1.875rem, 1.5179rem + 1.7857vw, 4.375rem);
    cursor: pointer;
    transition: 0.2s ease-in;
}

.closebutton:hover {
    transform: scale(1.3);
    transition: 0.2s ease-in;
}

.productinput {
    overflow: hidden;
    display: flex;
    width: 100%;
}
/* ############################################################# */
.numberblock {
    width: 50%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.numberblock a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: rgb(195, 200, 214);
    font-size: clamp(2.3125rem, 1.8393rem + 2.3661vw, 5.625rem);
    border: 2px groove #DDDDDD;
    cursor: pointer;
}

.numberblock a:active {
    background-color: var(--bg-header);
}

.unitlist {
    width: 50%;
    display: inline-grid;
    grid-template-columns: auto auto;
    
}

.unitvalue,
.unitvalueplural {
    display: none;
}

.unitlist a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: rgb(129, 135, 151);
    font-size: clamp(1rem, 0.6964rem + 1.5179vw, 3.125rem);
    border: 2px groove #FFFFFF;
    cursor: pointer;
}

.productfooter {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.numberdisplay{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    height: clamp(2.75rem, 2.3929rem + 1.7857vw, 5.25rem);
    width: 50%;
    border: 5px inset var(--bg-header);
    font-family: 'Digital-7'!important;
    font-size: clamp(2.5rem, 2.1429rem + 1.7857vw, 5rem);
    padding: 0 5px 0 0;
}


.shoppingcartbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-header);
    height: clamp(2.75rem, 2.3929rem + 1.7857vw, 5.25rem);
    width: 50%;
    font-size: clamp(1.25rem, 0.9821rem + 1.3393vw, 3.125rem);
    font-weight: bold;
    border: 2px solid silver;
    cursor: pointer;
    color: white;
}

.shoppingcartList {
    padding: 5.903vw 0 3.472vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoppingCartListItem {
    position: relative;
    width: 50%;
}

.shoppingcartList .shoppingCartListItem:nth-child(1) {
    margin-top: clamp(3.75rem, 4.0179rem + -1.3393vw, 1.875rem);
}

.shoppingcartList h4 {
    color: #69E6FF;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    margin-bottom: 10px;
    font-size: clamp(1.25rem, 0.9821rem + 1.3393vw, 3.125rem);
}

.whatsapp {
    cursor: pointer;
    position: absolute;
    top: clamp(1.5rem, 1.1339rem + 1.8304vw, 4.0625rem);
    right: 0;
}

.whatsapp img {
    width: clamp(2.5rem, 2.1429rem + 1.7857vw, 5rem);
    transition: 0.2s ease-in;
}

.whatsapp img:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
}

table {
    font-size: clamp(1.125rem, 0.9732rem + 0.7589vw, 2.1875rem);
}

.shoppingcartList table img {
    width: clamp(1.5625rem, 1.5179rem + 0.2232vw, 1.875rem);
    cursor: pointer;
    transition: 0.2s ease-in;
    margin-top: 6px;
}

.shoppingcartList table img:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}


table td:first-child {
    width: 46%;
}

table td:last-child {
    width:clamp(5.3125rem, 5.1763rem + 0.3976vw, 5.8125rem);;
}

table td:last-child img:first-child {
    margin-left: 5px;
}

table td:last-child img:last-child {
    margin-left: 28px;
}


@media only screen and (max-width: 419px) {
    table {
        font-size: 15px;
    }
    table td:last-child {
        width: 23%;
    }
    table td:last-child img:last-child {
        margin-left: 16px;
    }
}

@media only screen and (max-width: 331px) {
    .shoppingcartList table img {
        width: 21px;
    }
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 414px) {
    .productList img {
        width: clamp(4.875rem, -0.0086rem + 24.4182vw, 5.714375rem);
    }
  
}

@media only screen and (max-width: 449px) {
    .navItem {
        width: clamp(8.5625rem, 3.1361rem + 27.1318vw, 10.75rem);
        margin-bottom: clamp(0.9375rem, 1.0279rem + -0.4519vw, 0.25rem);
    }
  
}
@media only screen and (max-width: 1000px) {
    .shoppingCartListItem {
        width: 95%;
    }
}